owner        = "max"
project_name = "bookshelf"
environment  = "dev"

# AWS Settings
aws_region = "ap-south-1"

# Networking (default values work fine)
vpc_cidr               = "10.20.0.0/16"
public_subnet_cidrs    = ["10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs   = ["10.20.101.0/24", "10.20.102.0/24"]

# EKS Settings
cluster_version    = "1.28"
node_instance_type = "t3a.medium"
node_min_size      = 2
node_max_size      = 3
node_desired_size  = 3
node_disk_size     = 20

# Secrets (update with your actual names)
argocd_git_secret_name = "max-argocd-git-ssh-key"
db_secret_name         = "my-bookshelf/db-creds"

# Terraform State
terraform_state_bucket = "max-terraform-s3"

# ArgoCD
argocd_chart_version = "8.0.10"

# Tags
common_tags = {
  Project   = "bookshelf"
  ManagedBy = "terraform"
  Owner     = "max"
  Purpose   = "learning"
}
